<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Error - ${www_title}</title>
  </head>
  <body>
    <h1>Oops, something went wrong!</h1>
    <p>Try going <a href="/">Home</a> instead</p>
  </body>
</html>
